:root {
  /* font size */
  --font-size: calc(0.625rem + 0.5vw);
  font-size: var(--font-size);
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 85vh;
}

.header {
  background-color: aqua;
}

/* ----- form style ----- */

form {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.search-city {
  margin-right: 5rem;
  border-radius: 5px;
}

.search-city-input {
  width: 15rem;
  height: 1.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: none;
}

.search-city-input:focus {
  border: 1px solid green;
  outline: none;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* error message style*/
.error {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0;
  margin-top: -0.2rem;

  font-size: 90%;
  color: #900;
  border-radius: 5px;

  box-sizing: border-box;
}

.error.active {
}

/* ---- main style -----*/

.main {
  background-color: yellowgreen;
}
