:root {
  /* font size */
  --font-size: calc(0.625rem + 0.5vw);
  font-size: var(--font-size);

  /* color */
  --color: antiquewhite;
  color: var(--color);
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;

  height: 100%;
  /* free image link, thanks to jplenio
  https://pixabay.com/photos/thunderstorm-ocean-lightning-3440450/ */
  background-image: url('./images/background-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
}

/* ----- form style ----- */

form {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.search-city {
  margin-right: 5rem;
  border-radius: 5px;
}

.search-city-input {
  width: 15rem;
  height: 1.75rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: none;
}

.search-city-input:focus {
  border: 1px solid var();
  outline: none;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* error message style*/
.error {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0;
  margin-top: -0.2rem;

  font-size: 90%;
  color: #900;
  border-radius: 5px;

  box-sizing: border-box;
}

.error.active {
}

/* ---- main style -----*/

.main {
  display: flex;
  align-items: center;
}

/* weather card*/

.weathercard {
  width: 35rem;
  height: 20rem;
  margin-left: 5rem;

  display: flex;
  flex-wrap: wrap;
}

.weathercard-header {
  font-size: 2.5rem;
  order: 1;
  flex: 0 0 100%;
  height: 30%;

  display: flex;
  align-items: center;
  left: 1rem;
}

.weathercard-temp {
  order: 2;
  flex: 0 0 49%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid var(--color);
}

.weathercard-temp > * {
  height: 100%;
}

.weathercard-temp > :first-child {
  font-size: 14rem;
  display: flex;
  align-items: center;
}

.weathercard-temp > :first-child + p {
  font-size: 2rem;
  margin-top: 2rem;
}

.weathercard-detail {
  order: 3;
  flex: 0 0 49%;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-left: 1px solid var(--color);
}

.weathercard-detail > * {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
  width: 100%;
  height: 100%;
}

.subdetail {
}
